<%- include('./includes/header'); %>
<div class="container">
  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          style="width: 300px; height: 400px"
          src="https://sentrapeta.com/wp-content/uploads/2016/10/peta-atlas-provinsi-sumatra-utara-sentrapeta.jpg"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">
          Sumatera Utara Yang Maju, Aman dan Bermartabat
        </h1>
        <p class="lead">
          Bersama bergerak membangun sumatera utara yang maju dengan
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4">
            Explore Now
          </button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            See More
          </button>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">Istana Maimun</h1>
            <p class="lead">Pulau Samosir adalah sebuah pulau vulkanik di tengah Danau Toba di provinsi Sumatra Utara. Sebuah pulau dalam pulau dengan 
              ketinggian 1.000 meter di atas permukaan laut menjadikan pulau ini menjadi sebuah pulau yang menarik perhatian para turis.</p>
            
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img style="width: 400px; height: 250px;" src="https://p4.wallpaperbetter.com/wallpaper/556/370/570/palaces-maimun-palace-wallpaper-preview.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    </div>

      <div style="margin-top: -100px;" class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">Samosir Island</h1>
            <p class="lead">Pulau Samosir adalah sebuah pulau vulkanik di tengah Danau Toba di provinsi Sumatra Utara. Sebuah pulau dalam pulau dengan 
              ketinggian 1.000 meter di atas permukaan laut menjadikan pulau ini menjadi sebuah pulau yang menarik perhatian para turis.</p>
            
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <img style="width: 400px; height: 250px;" src="https://c0.wallpaperflare.com/preview/501/165/204/lake-toba-north-sumatra-indonesian.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4083487.279133463!2d98.7416715!3d1.8312920000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd7f95aeb721c87%3A0xaca73e8109d7cb0b!2sSumatera%20Utara!5e0!3m2!1sid!2sid!4v1658547044082!5m2!1sid!2sid"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./includes/footer'); %>
