<%- include('./includes/header'); %>
  <div class="container">
    <div class="b-example-divider"></div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img style="width: 300px; height: 400px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Coat_of_arms_of_North_Sumatra.svg/1200px-Coat_of_arms_of_North_Sumatra.svg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-6 fw-bold lh-1 mb-3">Provinsi Sumatra Utara</h1>
          <p class="lead">Sumatra Utara atau Sumatera Utara (disingkat Sumut) adalah sebuah provinsi di 
            Indonesia yang terletak di bagian Utara pulau Sumatra. Provinsi ini beribu kota di Kota Medan, 
            dengan luas wilayah 72.981,23 km2. </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4">Explore Now</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">See More</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-6 fw-bold lh-1 mb-3">Samosir Island</h1>
          <p class="lead">Pulau Samosir adalah sebuah pulau vulkanik di tengah Danau Toba di provinsi Sumatra Utara. Sebuah pulau dalam pulau dengan 
            ketinggian 1.000 meter di atas permukaan laut menjadikan pulau ini menjadi sebuah pulau yang menarik perhatian para turis.</p>
          
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img style="width: 400px; height: 250px;" src="https://c0.wallpaperflare.com/preview/501/165/204/lake-toba-north-sumatra-indonesian.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: -100px;" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Istana Maimun</h1>
        <p class="lead">Pulau Samosir adalah sebuah pulau vulkanik di tengah Danau Toba di provinsi Sumatra Utara. Sebuah pulau dalam pulau dengan 
          ketinggian 1.000 meter di atas permukaan laut menjadikan pulau ini menjadi sebuah pulau yang menarik perhatian para turis.</p>
        
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 400px; height: 250px;" src="https://p4.wallpaperbetter.com/wallpaper/556/370/570/palaces-maimun-palace-wallpaper-preview.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>

  
  <%- include('./includes/footer'); %>