<%- include('../includes/header.ejs'); %>

<div class="container col-xxl-8 px-4 py-5">
    <center>
        <h2 class="display-6 fw-bold lh-2 mb-3">List Photo About <br>Province Sumut</h2>
    </center>
</div>

<div style="margin-bottom: -100px;" class="container col-xxl-8 px-4 py-5">
  <div class="container-fluid">

    <div class="row gy-4 justify-content-center">

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Taman-Nasional-Gunung-Leuser.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Tangkahan.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Danau-Toba.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Pulau-Samosir.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://correcto.id/content/images/th1_2020050202533833179.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Museum-Perjuangan-TNI.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Masjid-Raya-Medan.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Istana-Maimun.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Salju-Panas-Dolok-Tinggi-Raja-1.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Air-Terjun-Telaga-Dwi-Warna-Sibolangit.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://asset.kompas.com/crops/qeMUf9Zgv4Q18gRXZXUpCWzhA0g=/96x0:681x390/750x500/data/photo/2015/09/13/1108074nias-3780x390.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Cagar-Alam-Sibolangit.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Gunung-Sibayak.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Air-Terjun-Sipiso-piso.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://cdn-2.tstatic.net/travel/foto/bank/images/suku-batak_20170410_132014.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100">
          <a href="#" class="pop">
            <img style="width:300px; height:150px;" class="img-fluid imageresource" src="https://www.azwisata.com/wp-content/uploads/2018/07/Tempat-Wisata-di-Sumatera-Utara-Desa-Lingga.jpg" alt="">
          </a>
          
        </div>
      </div><!-- End Gallery Item -->

    </div>

  </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <center>
          <img src="" id="imagepreview" width="500px" height="300px">
        </center>
      </div>
    </div>
  </div>
</div>


<%- include('../includes/footer'); %>
<script>
  $(".pop").on("click", function() {
    var src = $(this).find('img').attr('src');
    $('#imagepreview').attr('src', src); // here asign the image to the modal when the user click the enlarge link
    $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
  });
</script>