<%- include('../includes/header.ejs'); %>
<div class="container">
<h1 class="fw-bolder mb-1">Welcome to Place to Visit</h1>

<div class="container ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Air Terjun SiPiso-Piso</h1>
        <p class="lead">Air Terjun Sipisopiso atau Sipiso-piso adalah sebuah air terjun yang berada di Desa Tongging, Kecamatan Merek, Kabupaten Karo, Provinsi Sumatra Utara, Indonesia. Air Terjun Sipisopiso memiliki ketinggian hingga 120 meter[1] dan mengucur deras membentuk garis vertikal sempurna. Sehingga Air Terjun Sipisopiso masuk dalam air terjun tipe Plunge. 
            <a href="https://www.pesisir.net/air-terjun-sipiso-piso">See more...</a>    
        </p>
            
            <p>Aktivitas yang dapat dilakukan disini:</p>
            <ul>
                <li >Menikmati Keindahan Alam</li>
                <li >Hunting Foto</li>
                <li >Menjelajah</li>
                <li >Pinik Bersama Keluarga</li>
            </ul>
        
          <div class="container">
            <div class="row">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6505374036174!2d98.5195038!3d2.9164873000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3031ad70b69431e9%3A0x8d2b0d8b4069f47f!2sAir%20Terjun%20Sipiso%20Piso!5e0!3m2!1sid!2sid!4v1658552129539!5m2!1sid!2sid"
                width="600"
                height="200"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-fluid" src="https://trello.com/1/cards/62db770011d7a8708217e282/attachments/62db7a7226386b71be3154a4/download/Air-Terjun-Sipiso-piso-foto-airpaz.com_.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>

<div class="container ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Danau Toba</h1>
        <p class="lead">Danau toba adalah danau alami berukuran besar di Indonesia yang berada di kaldera Gunung Supervulkan. Danau ini memiliki panjang 100 kilometer (62 mil), lebar 30 kilometer (19 mi), dan kedalaman 508 meter (1.667 ft). Danau ini terletak di tengah pulau Sumatra bagian utara dengan ketinggian permukaan sekitar 900 meter (2.953 ft).  
            <a href="https://www.indonesia.travel/id/id/ide-liburan/10-aktivitas-seru-yang-wajib-kamu-coba-di-sekitar-danau-toba">See more...</a>     
        </p>
            <p>Aktivitas yang dapat dilakukan disini:</p>
            <ul>
                <li >Menjelajahi keindahan Desa Tuktuk Siadong.</li>
                <li >Bersantai di Sumber Mata Air Panas Sipoholon.</li>
                <li >Bermain kayak di sekitaran Danau Toba.</li>
                <li >Mencicipi Kuliner Khas Batak yang Menggugah Selera.</li>
            </ul>
        
          <div class="container">
            <div class="row">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510166.65829215694!2d98.8359673!3d2.610761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3031de07a843b6ad%3A0xc018edffa69c0d05!2sDanau%20Toba!5e0!3m2!1sid!2sid!4v1658552351485!5m2!1sid!2sid"
                width="600"
                height="200"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-fluid" src="https://c4.wallpaperflare.com/wallpaper/394/154/375/rocks-indonesia-clouds-wallpaper-preview.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer'); %>