<%- include('../includes/header.ejs'); %>
<div class="container">
<h1 class="fw-bolder mb-1">Welcome to Place to Visit</h1>


<div class="container ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Pakaian Adat Batak Toba</h1>
        <p class="lead">
          Terbuat dari kain ulos atau kain tenun tradisional, pakaian adat Sumatra Utara khas Batak Toba untuk laki-laki dan perempuan 
          berbeda-beda.<br>Pakaian adat laki-laki bagian atas disebut ampe-ampe dan bagian bawah disebut singkot. Sementara untuk perempuan, 
          bagian atas berupa hoba-hoba dan bagian bawah adalah haen.
            <a href="https://id.theasianparent.com/pakaian-adat-sumatra-utara">See more...</a>  
        </p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-fluid" src="https://cdn-cas.orami.co.id/parenting/images/toba.width-800_QkZvKhB.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="300px" loading="lazy">
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-6 fw-bold lh-1 mb-3">Tari Tortor</h1>
      <p class="lead">
        Tari Tortor adalah jenis tarian tradisional dari suku Batak yang berasal dari provinsi Sumatra Utara, meliputi daerah kabupaten 
        Tapanuli Utara, Humbang Hasundutan, Toba, Samosir, dan Tapanuli Tengah. Melalui tarian ini lah masyarakat adat Batak 
        menyampaikan harapan dan seluruh doa-doanya.<br>
        Tidak semua orang dapat mengadakan tari Tortor, melainkan hanya orang tua yang seluruh anaknya yang sudah menikah atau sudah lepas tanggung jawab dalam hal mengurus anak-anak mereka. Melakukan tarian Tortor semestinya telah disetujui oleh keluarga dan kepala adat.
          <a href="https://id.wikipedia.org/wiki/Tari_Tortor">See more...</a>    
      </p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img class="img-fluid" src="https://asset-a.grid.id/crop/0x0:0x0/x/photo/2021/09/12/mengenal-tari-tortor-sejarah-j-20210912110035.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" height="300px" loading="lazy">
    </div>
  </div>
</div>
</div>
<%- include('../includes/footer'); %>