<%- include('../includes/header.ejs'); %>

<div class="container col-xxl-8 px-4 py-5">
    <center>
        <h1 class="display-5 fw-bold lh-1 mb-3">Daftar Kota</h1>
    </center>
</div>

<div style="margin-bottom: -100px;" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Kota Medan</h1>
        <p class="lead">Medan adalah ibu kota provinsi Sumatra Utara, Indonesia. Kota ini 
            merupakan kota terbesar ketiga di Indonesia setelah DKI Jakarta dan Surabaya serta kota terbesar ...</p>
        
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Logo_Kota_Medan_%28Seal_of_Medan%29.svg/800px-Logo_Kota_Medan_%28Seal_of_Medan%29.svg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div style="margin-bottom: -100px;" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Kota Pemantangsiantar</h1>
        <p class="lead">Kota Pematangsiantar (lebih dikenal oleh masyarakat setempat dengan Kota Siantar saja) adalah salah satu kota di 
            provinsi Sumatra Utara, Indonesia. Karena letak ...</p>
        
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Logo_kota_pematangsiantar.png/800px-Logo_kota_pematangsiantar.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div style="margin-bottom: -100px;" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Kota Sibolga</h1>
        <p class="lead">Pulau Samosir adalah sebuah pulau vulkanik di tengah Danau Toba di provinsi Sumatra Utara. Sebuah pulau dalam pulau 
            dengan 
          ketinggian 1.000 meter di atas ...</p>
        
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/7/70/Lambang_Kota_Sibolga.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div style="margin-bottom: -100px;" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Kota Tebing Tinggi</h1>
        <p class="lead">Kota Tebing Tinggi (Melayu Jawi: كوتا تبڠ تنڠي) adalah salah satu kota atau kota madya yang berada di provinsi Sumatra 
            Utara, Indonesia. Kota Tebing Tinggi berada ...</p>
        
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/b/be/Tebing_Tinggi_armcoats.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <div style="margin-bottom: -100px;" class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-6 fw-bold lh-1 mb-3">Kota Tanjung Balai</h1>
        <p class="lead">Kota Tanjungbalai adalah salah satu kota di provinsi Sumatra Utara, Indonesia. Luas wilayahnya 60,52 km² dan 
            penduduk berjumlah 175.233 jiwa tahun 2019. Kota ini berada di... 
            </p>
        
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Logo_Kota_Tanjungbalai.jpg/800px-Logo_Kota_Tanjungbalai.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

<%- include('../includes/footer'); %>